@model List<Vidly2.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("NEW", "New", "Customers", new { @class = "btn btn-primary" })

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th><h4>Customers</h4></th>
            <th><h43>Membership Type</h43></th>
            <th><h4>Delete</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var customer in Model) // no longer rendering customers on the server
            {
                <tr>
                    <td>
                        @Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)
                    </td>
                    <td>
                        @customer.MembershipType.Name
                    </td>
                    <td>
                        <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }*@
    </tbody>
</table>

@section scripts
    {
    <script>

        $(document).ready(function () {
            // adding a reference to the customers table and calling .DataTable() function
            // loading customers from /api/customers/


            //$("#customers").DataTable({ 
            var table = $("#customers").DataTable({ // object as a parameter for DataTable()
                ajax: { // property of param obj
                    url: "/api/customers", // url to the api
                    dataSrc: "" // data source property
                },
                columns: [// property - array of objects
                    { // first column
                        data: "name", // data property set to the name property of json obj sent by the api
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    { // second column
                        data: "membershipType.name"
                    },
                    { // third column
                        data: "id",
                        render: function (data) {
                            return "<button class= 'btn-link js-delete' data-customer-id="
                                + data + " >Delete</button>";
                        }
                    }
                ]

            });


            // optimizing - only one event is raised for all items in the table id="customers"
            $("#customers")
                // if click event (1. param) is raised from element maching the selector (2. param)
                // callback function (3. param) is called
                .on("click", ".js-delete", function () {
                    var button = $(this); // getting the reference of the button

                    bootbox.confirm("Are you sure you want to delete this customer?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/customers/" + button.attr("data-customer-id"),
                                    method: "DELETE",
                                    success: function () {
                                        // fixing bug removed item stil searchable
                                        table // reference to the customers table
                                            .row(button.parents("tr")) // select row by selector
                                            .remove() // deletes the customer from the internal list in datatable
                                            .draw(); // redraws the table

                                        // button.parents("tr").remove();
                                    }

                                });
                            }
                        });


                    /*
                     * // bootbox implementation
                    var button = $(this); // getting the reference of the button

                    bootbox.confirm("Are you sure you want to delete this customer?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/customers/" + button.attr("data-customer-id"),
                                    method: "DELETE",
                                    success: function () {
                                        button.parents("tr").remove();
                                    }

                                });
                            }
                        });
                        */


                    //if (confirm("Are you sure you want to delete this customer?")) {
                    //    $.ajax({
                    //        url: "/api/customers/" + button.attr("data-customer-id"),
                    //        method: "DELETE",
                    //        success: function () {
                    //            //console.log("Success");
                    //            button.parents("tr") // Description: Get the ancestors of each element in the current set of matched elements
                    //                .remove(); //
                    //        }
                    //    });
                    //}
                });
        });

    </script>


}